@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 10vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.9em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  border-color: whitesmoke;
  a {
    color: aquamarine;
  }
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

hr {
  border-radius: 1em;
  border-color: #fbab6177;
}

/* REPLACE BELOW WITH IN-HTML TAILWIND CSS
  TAILWIND CSS DOCS -> https://tailwindcss.com/docs/responsive-design
 */

/* .discord-guild {
  padding: 0.9em 4em;
  background-color: #f5f5f510;
  border-radius: 1rem 1rem 0.2rem 0.2rem;
  margin-top: 0.5rem;
  vertical-align: middle;
  will-change: filter;
  transition: filter 300ms;
}

#guild-icon {
  float: left;
  height: 7rem;
  position: relative;
  transform: translateY(15%);
  border-radius: 2.5rem;
}

#guild-icon:hover {
  filter: drop-shadow(0 0 1em #7b81f78a);
}

#guild-name {
  font-size: xx-large;
}

#guild-members {
  color: #888;
}

.section {
  padding: 0.9em 0em;
  background-color: #f5f5f510;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  vertical-align: middle;
  will-change: filter;
  transition: filter 300ms;
}

.section :not(h3) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.event-item {
  width: 50%;
  text-align: center;
  background-color: #614c4f70;
  padding: 0.5em 0.8em;
  margin-left: 0.3rem;
  border-radius: 0.5rem;
}

.messages {
  border-radius: 0.2rem 0.2rem 1rem 1rem;
}

@media (max-width: 600px) {
  .event-item {
    width: 100%
  }
} */


/* LIGHT THEME VERSIONS */
@media (prefers-color-scheme: light) {
  :root {
  color: #213547;
  background-color: whitesmoke;
  }
  a {
    color: #646cff;
  }
  a:hover {
    color: #747bff;
  }
  .button:hover {
    border-color: #0f0f0f;
    border-width: 2px;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #757bf8aa);
  }
  hr {
    border-color: #fbab6177;
  }
  .section-description {
    color: #666666;
  }
  .card {
    background-color: #0f0f0f18;
  }
  .card:hover {
    filter: drop-shadow(0 0 2em #7b81f7c0);
  }
  .card-link .card-description {
    color: #3d3d3d;
  }
  .card-link p {
    color: #202224;
  }
  .faded-text {
    color: #888;
  }
}

